.sumphoto img {
	max-width: 600px;
	margin: auto;
}
.sumcontent {
	width: 600px;
	margin: auto;
}
.albumsumtitle {
	margin-bottom: 50px;
	font-size: 20px;
}
a:hover {
	background-color: #CC3421;
}
.addownpic {
	position: absolute;
	right: 20px;
	top: 44px;
	width: 100px;
	height: 100px;
}
.addpicture {
	width: 100px;
	height: 100px;
	margin-bottom: -5px;
}
