body {
	box-sizing: border-box;
}
* {
	box-sizing: inherit;
}

.main-albums {
	width: 1000px;
	margin: auto;
}
.main-header {
	width: 100%;
	height: 200px;
	text-align: center;
	font-size: 40px;
}
.albumscontent {
	display: flex;
	flex-wrap: wrap;
}
.albumsimage {
	width: 500px;
	height: 500px;
	display: flex;
	align-items: center;
}
.albumsimage img {
	width: 500px;
	max-height: 500px;
	padding: 20px;
}
.albumtitle {
	text-align: center;
	margin-top: 0px;
}
